*
{
    padding: 0px;
    margin: 0px;
}

/* google font */
body
{
    font-family: "Poppins", sans-serif;
}

/* nav section */

.nav-container
{
    display: flex;
    padding: 85px 120px 50px 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h2
{
    font-size: 24px;
    font-weight: bold;
    color: #3a3a3a;
}

.nav-manu ul
{
    display: flex;
    gap: 35px;
}

.nav-manu ul li
{
    list-style-type: none;
}

.nav-manu ul li a
{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3a3a3a;
}

.nav-manu ul li a .nav-manu-icon
{
    font-size: 1.25rem;
}

.nav-manu ul li a:hover
{
    color: #E02C6D;
}

/* header content */