*
{
    padding: 0px;
    margin: 0px;
}

/* google font */
body
{
    font-family: "Poppins", sans-serif;
}

/* nav section */

.nav-container
{
    display: flex;
    padding: 85px 120px 50px 120px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo h2
{
    font-size: 24px;
    font-weight: bold;
    color: #3a3a3a;
}

.nav-manu ul
{
    display: flex;
    gap: 35px;
}

.nav-manu ul li
{
    list-style-type: none;
}

.nav-manu ul li a
{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3a3a3a;
}

.nav-manu ul li a .nav-manu-icon
{
    font-size: 1.25rem;
}

.nav-manu ul li a:hover
{
    color: #E02C6D;
}

/* header content */

.header-container
{
    padding: 60px 120px 90px 120px;
}

.header-content
{
    display: flex;
    gap: 130px;
    align-items: center;
}

.headier-title h1
{
    font-size: 52px;
    font-weight: bold;
    padding-right: 100px;
    line-height: 70px;
    color: #3a3a3a;
}

.headier-title p
{
    font-size: 1rem;
    font-weight: 600;
    padding: 16px 0;
    color: #3a3a3a;
}

.headier-title .btn-prymari, .btn-feature
{
    border: 0;
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    background-color: #E02C6D;
    color: #fff;
}

.header-img
{
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    background-size: cover;
    width: 620px;
    height: 620px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img img
{
    width: 550px;
}

/* main */

.main-container
{
    width: 80%;
    margin: auto;
}

.main-company-name
{
    border-top: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 50px 0;
}

/* Popular Collection */

.popular-container
{
    margin: 100px 0;
}

.popular-content
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.popular-title h3
{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
    color: #3a3a3a;
}

.popular-card
{
    padding: 15px;
    box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.popular-card img
{

}

.popular-card h3
{
    font-size: 28px;
    font-weight: 500;
    padding-top: 20px;
    color: #18191F;
}

.popular-card h4
{
    font-size: 24px;
    font-weight: 400;
    padding: 15px 0;
    color: rgba(0, 0, 0, 0.87);
}

.popular-card p
{
    font-size: 14px;
    font-weight: bold;
    line-height: 145%;
    letter-spacing: 0.25px;
}

.popular-card .popular-rating
{
    display: flex;
    gap: 10px;
}

.popular-card .popular-rating ul
{
    display: flex;
    gap: 5px;
}

.popular-card .popular-rating ul li
{
    list-style-type: none;
}

.popular-card .popular-rating h5
{
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #5E6366;
}

.popular-card .popular-rating .popular-icon
{
    font-size: 12px;
    color: #FB8200;
}

.btn-popular
{
    border: 0;
    font-size: 16px;
    font-weight: 500;
    float: right;
    margin: 30px 135px;
    background: transparent;
    color: #E02C6D;
}

/* Featured products */

.feature-content
{
    display: flex;
    gap: 100px;
    margin: 100px 0;
    align-items: center;
}

.feature-content h1
{
    font-size: 38px;
    font-weight: bold;
    line-height: 60px;
    color: #0A0826;
}


.feature-content p
{
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
    color: #6c6c6c;
}

.btn-feature
{
    border-radius: 2px;
    margin-top: 20px;
}